@page "/"
@inject NavigationManager NavManager

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style>
    body {
        margin: 10px;
        padding: 0;
    }

    .base-container {
        display: grid;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 100%;
    }

    .court {
        position: relative;
        height: 100%;
        width: 100%;
        border: 3px solid gray;
        border-radius: 10px;
        background-color: #1E8FD5;
    }

    .line {
        position: absolute;
        background-color: gray;
    }

    .center-line {
        width: 3px;
        top: 15.25%;
        bottom: 15.25%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
    }

    .net-line {
        height: 3px;
        width: 100%;
        top: 50%;
        background-color: white;
    }

    .service-line {
        height: 3px;
        width: 100%;
        top: 15.25%;
        background-color: white;
    }

    .back-wall-line {
        height: 3px;
        width: 100%;
        bottom: 15.25%;
        background-color: white;
    }
</style>

<div class="base-container">
    <div class="container">
        <div class="court">
            <div class="layer">
                <div class="line center-line"></div>
                <div class="line net-line"></div>
                <div class="line service-line"></div>
                <div class="line back-wall-line"></div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        NavManager.NavigateTo("/new");
    }
}